<div class="section" id="education">
  <div class="container cc-education">
    <div class="h4 text-center mb-5 title">Education</div>

    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2020</p>
            <div class="h5">Get into Tech free Bootcamp program</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">GET INTO TECH</div>
            <h4 class="category">Inco Academy, Australia
            </h4>
            <ul>

              <li> It was mainly focus of Tech Industry
              </li>
              <li> There was also a good base on web developnment,Wordpress.
              </li>
              <li>Completed <b> </b>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>





<div class="card">
  <div class="row">
    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
      <div class="card-body cc-education-header">
        <p>2020 - 2021</p>
        <div class="h5">Junior Frontend Developer Bootcamp Program</div>
      </div>
    </div>
    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
      <div class="card-body">
        <div class="h5">Web Developnment</div>
        <h4 class="category">Generation Australia
        </h4>
        <ul>

          <li> Bootcamp mainly focused on frontend web technologied
          </li>
          <li> It was a 12-weeks, full-time course with extensive learning and developing a project with in a team by using HTML5,
          CSS3, Bootstrap, Javascript, ECMA6, GitHub, Visual Studio Code, NPM, Local and Web Storage, Figma(web frames),
          Behavioural Skills and Mindset.

          </li>
          <li>Completed Bootcamp  <b>Certificate </b>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2010 - 2014</p>
            <div class="h5">Bachelor's Degree</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Bachelor of computer Science & Engineering</div>
            <h4 class="category">Jawaharlal Nehru Technological University ,India
            </h4>
            <ul>

              <li> The Bachelor's was mainly focus of computer science
              </li>
              <li> There was also a good base on web developnment,Java and Adavance Database
              </li>
              <li>Completed my Bachelors with <b>65.5% </b>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2009 - 2010</p>
            <div class="h5">Higher Secondary</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Higher Secondary</div>
            <h4 class="category">Narayana Jr. college
            </h4>
            <ul>
              <li>
                The High School was mainly focus on the bases of science, mathematics, and Chemistry
              </li>
              <li>
                There was also a good base on physics, mathematics and chemistry.
              </li>
              <li>
                Completed my high school with<b> 67.3%</b>.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2008- 2009</p>
            <div class="h5">Secondary School</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Secondary School</div>
            <h4 class="category">Sasi E.M School
            </h4>
            <ul>
              <li>The Secondary aims at Maths , English , Science, Social Science, Litrature and Languages.
              </li>

              <li>
                Completed my Secondary school with <b>69.5% </b>.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
