<div class="section" id="education">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Education</div>
    <!--Generation Australia-->
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2020 - 2021</p>
            <div class="h5">Generation  Australia</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5"> Junior web developer Bootcamp Program</div>
            <h4 class="category">Generation Australia
            </h4>
            <ul>
    
              <li> The Bootcamp was mainly focus of Frontend Technologies
              </li>
              <li> It was a 12-weeks, full-time course with extensive learning and developing a project with in a team by using HTML5,
              CSS3, Bootstrap, Javascript, ECMA6, GitHub, Visual Studio Code, NPM, Local and Web Storage, Figma(web frames),
              Behavioural Skills and Mindset.
              </li>
              <li>Certificate
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!--Inco Australia-->
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2020 - 2020</p>
            <div class="h5">Inco Australia</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Bootcamp Program</div>
            <h4 class="category">Inco Australia
            </h4>
            <ul>
    
              <li> The Bootcamp was mainly focus of Wordpress
              </li>
              <li> Gained expertise in developing a website using HTML5 , CSS and Wordpress
              • Maintained and supported the website development by resolving issues and overcoming certain constraints such as
              short-term deadline
              • Deployed a complete website by handling each development process individually
              </li>
              <li>Certificate 
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!--Bacholre Degree-->
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2010 - 2014</p>
            <div class="h5">Bachelor's Degree</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Bachelor of computer Science & Engineering</div>
            <h4 class="category">Jawaharlal Nehru Technological University ,India
            </h4>
            <ul>

              <li> The Bachelor's was mainly focus of computer science
              </li>
              <li> There was also a good base on web developnment,Java and Adavance Database
              </li>
              <li>Completed my Bachelors with <b>65.5% </b>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    