<div class="profile-page">
  <div class="wrapper">
    <div class="page-header page-header-small" filter-color="green">
      <div class="page-header-image" data-parallax="true" style="background-image: url('assets/images/intro.jpg');">
      </div>
      <div class="container">
        <div class="content-center">
          <div class="cc-profile-image">
            <a href="#">
              <img src="assets/images/img2.jpeg" alt="Image" />
            </a>
          </div>
          <div class="h2 title">Vasavi Gannena</div>
          <p class="category text-white">Junior Web Developer</p>
          <a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in"
            data-aos-anchor="data-aos-anchor">Hire Me</a>
          <a class="btn btn-primary" href="https://drive.google.com/file/d/1a3wkMiIDB50EVyUPitbhGzHgawHe56ge/view?usp=sharing"
            target="_blank" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Download CV</a>
        </div>
      </div>
      <div class="section">
        <div class="container">
          <div class="button-container">
            <!-- <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.facebook.com/VasaviVenkata28"
              target="_blank" rel="tooltip" title="Follow me on Facebook">
              <i class="fa fa-facebook"></i>
            </a> -->

            <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.instagram.com/vasavigannena/"
              target="_blank" rel="tooltip" title="Follow me on Instagram">
              <i class="fab fa-instagram fa-3x" aria-hidden="true"></i>
            </a>

            <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.linkedin.com/in/vasavigannena/" target="_blank"
              rel="tooltip" title="Follow me on LinkedIn">
              <i class="fab fa-linkedin-in fa-3x" aria-hidden="true"></i>
          </a>
            <a class="btn btn-default btn-round btn-lg btn-icon" href="https://twitter.com/vasavivenkata"
              target="_blank" rel="tooltip" title="Follow me on Twitter">
              <i class="fab fa-twitter fa-3x" aria-hidden="true"></i>
              </a>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
