<div class="section" id="project">
  <div class="container cc-education">
    <div class="h4 text-center mb-6 title">Project</div>

    <div class="row">
      <div
        class="col-md-4 col-sm-6 animate-box"
        data-animate-effect="fadeInLeft"
      >
        <div class="blog-entry">
          <div class="card">
            <img
              class="card-img-top"
              src="assets/images/p1.png"
              alt="Card image"
              style="width: 100%;"
            />
            <div class="card-body">
              <h4 class="card-title">Personal Portfolio Using Angular</h4>
              <h5 class="card-text"><b>Technology :</b> Angular, NPM and Bootstrap</h5>
              <a href="https://github.com/VasaviGannena/ng-Portfolio" class="btn btn-outline-info stretched-link">
                <i class="fab fa-github-alt"></i> 
              </a>
              <a href="https://vasavigannena.github.io/ng-Portfolio/"
                class="btn btn-outline-info stretched-link">
                <i class="fas fa-link fa-lg"></i>

              </a>

            </div>
          </div>
        </div>
      </div>

      <div
        class="col-md-4 col-sm-6 animate-box"
        data-animate-effect="fadeInLeft"
      >
        <div class="blog-entry">
          <div class="card">
            <img
              class="card-img-top"
              src="assets/images/p2.png"
              alt="Card image"
              style="width: 100%;"
            />
            <div class="card-body">
              <h4 class="card-title">TaskPlanner Project by Using Javascript</h4>
              <h5 class="card-text"><b>Technology :</b> Bootstrap</h5>
              <a href="https://github.com/VasaviGannena/FinalProject" class="btn btn-outline-info">
                <i class="fab fa-github-alt"></i>

              </a> 
                <a href="https://vasavigannena.github.io/FinalProject/" class="btn btn-outline-info">
                  <i class="fas fa-link fa-lg"></i>
                </a>

            </div>
          </div>
        </div>
      </div>

      <div
        class="col-md-4 col-sm-6 animate-box"
        data-animate-effect="fadeInLeft"
      >
        <div class="blog-entry">
          <div class="card">
            <img
              class="card-img-top"
              src="assets/images/p9.png"
              alt="Card image"
              style="width: 100%;"
            />
            <div class="card-body">
              <h4 class="card-title">Portfolio by using ReactJs and Bootstrap</h4>
              <h5 class="card-text"><b>Technology :</b> HTML,CSS,Bootstrap,Javascript </h5>
              <a href="https://github.com/VasaviGannena/react-portfolio.git" class="btn btn-outline-info">
                <i class="fab fa-github-alt"></i>
                
              </a>
              <a href="https://vasavigannena.github.io/react-portfolio/" class="btn btn-outline-info">
                <i class="fas fa-link fa-lg"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
